/***** Fonts *****/

@font-face {
    font-family: 'Chilanka';
    src: url('../resources/fonts/Chilanka-Regular.woff2') format('woff2'), url('../resources/fonts/Chilanka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/***** Fallback message *****/

.fallback-message {
    font-family: sans-serif;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    border: 1px solid #E4C652;
}

.impress-supported .fallback-message {
    display: none;
}

/***** Defaults *****/

body {
    /* font-family: 'Kaisei HarunoUmi', serif; */
    font-family: sans-serif;
    min-height: 950px;
    background: #fff;
    background: url(../resources/img/newspaper-background-5.jpg);
    background-position: unset;
}

#bg-shade {
    width: 100%;
    height: 100%;
    background-color: #f0efed;
    opacity: 0.6;
}

h1 {
    font-size: 2em;
    text-align: center;
}

.title h1 {
    font-size: 3em;
}
.title h2, .title h3 {
    text-align: center;
}

h1,
h2,
h3 {
    color: #403c33;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    line-height: 1em;
    font-weight: normal;
}

h2,
p,
li,
table {
    font-family: 'Chilanka', 'Open Sans', sans-serif;
}

h4 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1em;
    text-align: justify;
}

li {
    margin: 0.2em;
}

a {
    /* color: inherit; */
    text-decoration: none;
    padding: 0;
}

a:hover,
a:focus {
    color: rgb(103, 103, 103);
}

pre {
    font-size: smaller;
}

code {
    background-color: #f4f3efa6!important;
}

hr {
    border-width: 2px;
    border-style: solid;
}

/***** Mermaid *****/

.mermaid {
    text-align: center;
}

.mermaid svg {
    max-width: fit-content!important;
}

g#subGraph2 rect, g#subGraph5 rect{
    fill: #e0e0e0!important;
}
g#subGraph0 rect, g#subGraph1 rect, g#subGraph3 rect, g#subGraph4  rect{
    fill: #e6f5d0!important;
}


/***** General Presentation *****/

.step {
    position: relative;
    box-sizing: border-box;
    width: 1500px;
    height: 950px;
    padding: 40px 60px;
    margin: 20px auto;
    color: rgb(90, 90, 90);
    font-size: 30px;
    line-height: 1.3;
    /* border: solid red 1px; */
}

img {
    width: 90%;
    float: left;
    margin-left: 40px;
    margin-top: 0px;
    /* width: 75%; */
}


/* fade out inactive slides */
.step {
    /* opacity: 1; */
    transition: opacity 1s;
    margin: 0;
}
.step.active {
    opacity: 1
}

.overview {
    z-index: -99;
}

.overview.step.future,
.overview.step.past {
    display: none;
}

#podium img {
    width: 80%;
    position: relative;
    left: 3.5em;
    top: -8em;
}

#podium.past.step:not(.active) {
    display: none;
}

.step.future {
    display: none;
}

.impress-on-podium .step {
    display: block !important;
}
